h1 {
    color: #42446E;
    font-weight: bold;
    font-size: 3.62rem;
    text-align: center;
}

h2 {
    margin-top: 1em;
    color: #42446E;
    font-size: 42px;
    text-align: center;
}

p {
    color: #666666;
    font-size: 2rem;
    margin-top: 1rem;
}