<section>
    <h1>About</h1>

    <p>
        Graduated in Systems Analysis and Development from Estácio de Sá, with an MBA in Software Engineering from
        Impacta
        in Brazil and studying digital game development at IPMAIA in Portugal. I really like technology, getting to know
        new
        and simple things that generate more productivity and impact for people.
    </p>

    <h2>Work Experience</h2>

    <div>
        <h3>Software Engineering</h3>
        <span>Itaú Unibanco</span>
        <span>Brazil</span>
        Set 2020 - Mai 2023
    </div>
    <div>
        <h3>QA Junior Test Analyst</h3>
        <span>Itaú Unibanco</span>
        <span>Brazil</span>
        Fev 2020 - Set 2020
    </div>
    <div>
        <h3>QA Junior Test Analyst</h3>
        <span>Cognizant</span>
        <span>Brazil</span>
        Nov 2018 - Fev 2020
    </div>

    <h2>Education</h2>

    <div>
        <h3>Technical degree course in Produção Multimédia e Jogos Digitais</h3>
        <span> Bangalore Instutute of Technology</span>
        Set 2022 - Set 2024
    </div>
    <div>
        <h3>Master of Business Administration - Software Engineering</h3>
        <span>Impacta Tecnologia</span>
        Abr 2021 - Mar 2022
    </div>
    <div>
        <h3>Technical degree course in System Development Analysis</h3>
        <span>Estácio Sá</span>
        2017 - 2019
    </div>
</section>