div {
    border-bottom: solid #6666661f 2px;
    height: 100px;
}

h1 {
    color: #42446E;
    font-weight: bold;
    font-size: 3.62rem;
    text-align: center;
}

h2 {
    color: #42446E;
    font-size: 42px;
    font-weight: bold;
    margin-top: 2.37rem;
}

h3 {
    color: #666666;
    font-size: 18px;
}

span {
    margin-right: 16rem;
}

.about{
    margin-top: 12rem;
    margin-bottom: 12rem;
}