.marginTop{
    margin-top: 12rem;
    margin-bottom: 12rem;
}

p {
    color: #42446E;
    filter: drop-shadow(0.25rem 0.25rem 0.4rem rgba(0, 0, 0, 0.5));
    font-weight: bold;
    font-size: 3.62rem;
}

div {
    width: 50%;
    height: 15.50rem;
    display: inline-block;
}

figure {
    margin-left: 20rem;
    margin-top: 8.40rem;
    width: 19rem;
    height: 19rem;
}

img {
    border-radius: 15rem;
    border: solid 0.62rem;
    width: 19rem;
    height: 19rem;
    margin-left: 1rem;
    margin-top: -8rem;
}
